.sp-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.sp-button-circle {
  /* Correct inability to style clickable `input` types in iOS. */
  -webkit-appearance: none;
  appearance: none;
  /* Remove margins in Chrome, Safari and Opera. */
  margin: 0;
  /* Remove borders for `button`. */
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  line-height: 36px;
  width: 36px;
  height: 36px;
  background: transparent;

  /* Required for `a` */
  text-decoration: none;
  text-align: center;

  outline: none;
}

.sp-button-circle.sp-muted {
  color: @global-muted;
  background: fade(@global-muted, 12%);

  .dark & {
    color: @global-dark-muted;
    background: fade(@global-dark-muted, 15%);
  }
}

.sp-button-circle.sp-primary {
  color: @global-primary;
  background: fade(@global-primary, 12%);

  .dark & {
    color: @global-dark-primary;
    background: fade(@global-dark-primary, 15%);
  }
}

.sp-button-circle.sp-success {
  color: @global-success;
  background: fade(@global-success, 12%);
}

.sp-button-circle.sp-danger {
  color: @global-danger;
  background: fade(@global-danger, 15%);
}

.sp-button {
  /* Correct inability to style clickable `input` types in iOS. */
  -webkit-appearance: none;
  /* Remove margins in Chrome, Safari and Opera. */
  margin: 0;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11. */
  overflow: visible;

  /* Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE */
  text-transform: none;
  /* Style */
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  color: @global-heading-color;
  border: 1px solid darken(@global-border, 8%);
  padding: 0 20px;
  font: inherit;
  line-height: 36px;
  height: 38px;
  background: transparent;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color 0.6s ease;

  .dark & {
    color: @global-dark-heading-color;
    border: 1px solid lighten(@global-dark-border, 8%);
  }

  /* Required for `a` */
  text-decoration: none;
  text-align: center;

  outline: none;
  cursor: pointer;

  &:disabled {
    background-color: @global-muted-color;
  }

  .dark &:disabled {
    background-color: @global-dark-muted-color;
  }
}

.sp-button-shadow {
  box-shadow: 0 2px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.08);
}

.sp-button-link:disabled,
.sp-button:disabled,
.sp-button-circle:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;

  .dark & {
    opacity: 0.7;
  }
}

/*
 * Hover
 * 1. Apply hover style also to focus state
 * 2. Required for `a` elements
 */

.sp-notouch {
  .sp-button:hover {
    background-color: fade(@global-border, 30%);
    text-decoration: none;
  }

  &.dark .sp-button:hover {
    background-color: fade(@global-dark-border, 30%);
  }

  /* Active */
  .sp-button:active,
  .sp-button-link:active {
    background-color: transparent;
    opacity: 0.75;
  }
}

/* Color modifiers
 ========================================================================== */

@button-muted:                       @global-muted;
@button-muted-hover:                 lighten(@global-muted, 15%);
@button-dark-muted:                  darken(@global-dark-muted, 15%);
@button-dark-muted-hover:            darken(@global-dark-muted, 12%);

@button-primary:                     @global-primary;
@button-primary-hover:               lighten(@global-primary, 5%);
@button-dark-primary:                darken(@global-dark-primary, 15%);
@button-dark-primary-hover:          darken(@global-dark-primary, 12%);

@button-success:                     @global-success;
@button-success-hover:               lighten(@global-success, 5%);
@button-dark-success:                darken(@global-dark-success, 15%);
@button-dark-success-hover:          darken(@global-dark-success, 12%);

@button-danger:                      @global-danger;
@button-danger-hover:                lighten(@global-danger, 8%);
@button-dark-danger:                 darken(@global-dark-danger, 15%);
@button-dark-danger-hover:           darken(@global-dark-danger, 12%);

.sp-notouch {
  /* Hover */
  .sp-button.sp-button-muted:hover {
    background-color: @button-muted-hover;
    color: @global-contrast-color;
  }

  /* Active */
  .sp-button.sp-button-muted:active,
  .sp-button.sp-button-muted.sp-active {
    color: @global-contrast-color;
  }
}

/*
 * Modifier: `sp-button-primary`
 */

.sp-button.sp-button-primary {
  background-color: @button-primary;
  color: @global-contrast-color;
  border-color: transparent;
  text-shadow: @global-contrast-text-shadow;
  .dark & {
    background-color: @button-dark-primary;
  }
}

/*
 * Modifier: `sp-button-muted`
 */

.sp-button.sp-button-muted {
  background-color: @button-muted;
  color: @global-contrast-color;
  border-color: transparent;
  .dark & {
    background-color: #32323a;
  }
}

.sp-notouch {
  /* Hover */
  .sp-button.sp-button-primary:hover {
    background-color: @button-primary-hover;
    color: @global-contrast-color;
  }

  &.dark .sp-button.sp-button-primary:hover {
    background-color: @button-dark-primary-hover;
  }

  /* Active */
  .sp-button.sp-button-primary:active,
  .sp-button.sp-button-primary.sp-active {
    color: @global-contrast-color;
  }
}

/*
 * Modifier: `sp-button-success`
 */

.sp-button.sp-button-success {
  background-color: @button-success;
  color: @global-contrast-color;
  border-color: transparent;
  text-shadow: @global-contrast-text-shadow;
  .dark & {
    background-color: @button-dark-success;
  }
}

.sp-notouch {
  /* Hover */
  .sp-button.sp-button-success:hover {
    background-color: @button-success-hover;
    color: @global-contrast-color;
  }

  &.dark .sp-button.sp-button-success:hover {
    background-color: @button-dark-success-hover;
  }

  /* Active */
  .sp-button.sp-button-success:active,
  .sp-button.sp-button-success.sp-active {
    color: @global-contrast-color;
  }
}

/*
 * Modifier: `sp-button-danger`
 */

.sp-button.sp-button-danger {
  background-color: @button-danger;
  color: @global-contrast-color;
  border-color: transparent;
  text-shadow: @global-contrast-text-shadow;
}

.sp-notouch {
  /* Hover */
  .sp-button.sp-button-danger:hover {
    background-color: @button-danger-hover;
    color: @global-contrast-color;
  }

  /* Active */
  .sp-button.sp-button-danger:active,
  .sp-button.sp-button-danger.sp-active {
    color: @global-contrast-color;
  }
}

/* Modifier: `sp-button-link`
 ========================================================================== */

.sp-button-link {
  /* Correct inability to style clickable `input` types in iOS. */
  -webkit-appearance: none;
  /* Remove margins in Chrome, Safari and Opera. */
  margin: 0;
  /* Remove borders for `button`. */
  border: none;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11. */
  overflow: visible;
  /* Correct `font` properties and `color` not being inherited for `button`. */
  color: @global-primary;
  .dark & {
    color: @global-dark-primary;
  }
  /* Address inconsistent `text-transform` inheritance which is only inherit in Firefox and IE */
  text-transform: none;
  /* Style */
  display: inline-block;
  box-sizing: border-box;
  padding: 0 8px;
  background: none;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 38px;
  height: 42px;
  font: inherit;
  font-weight: 600;
  transition: color 0.6s ease;
  /* Required for `a` */
  text-decoration: none;
  text-align: center;
}

/* Color */
.sp-button-link.sp-button-muted { color: @button-muted; }
.dark .sp-button-link.sp-button-muted { color: @button-dark-muted; }
.sp-button-link.sp-button-primary { color: @button-primary; }
.dark .sp-button-link.sp-button-primary { color: @button-dark-primary; }
.sp-button-link.sp-button-success { color: @button-success; }
.dark .sp-button-link.sp-button-success { color: @button-dark-success; }
.sp-button-link.sp-button-danger { color: @button-danger; }
.dark .sp-button-link.sp-button-danger { color: @button-dark-danger; }
.sp-button-link:hover { color: @button-primary-hover; }
.dark .sp-button-link:hover { color: @button-dark-primary-hover; }
.sp-button-link.sp-button-muted:hover { color: @button-muted-hover; }
.dark .sp-button-link.sp-button-muted:hover { color: @button-dark-muted-hover; }
.sp-button-link.sp-button-success:hover { color: @button-success-hover; }
.dark .sp-button-link.sp-button-success:hover { color: @button-dark-success-hover; }
.sp-button-link.sp-button-danger:hover { color: @button-danger-hover; }
.dark .sp-button-link.sp-button-danger:hover { color: @button-dark-danger-hover; }

.sp-button-link:hover,
.sp-button-link:focus,
.sp-button-link:active {
  text-decoration: none;
  outline: none;
}

/* Size modifiers
========================================================================== */

.sp-button-mini {
  padding: 0 8px;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
}

.sp-button-small {
  padding: 0 16px;
  height: 36px;
  line-height: 32px;
  font-size: 14px;
}

.sp-button-large {
  padding: 0 24px;
  height: 50px;
  line-height: 46px;
  font-weight: 600;
}


/* Sub-object `sp-button-group`
========================================================================== */

.sp-button-group {
  display: inline-flex;
}

/*
* Reset border-radius
*/

.sp-button-group > .sp-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.sp-button-group > .sp-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.sp-button-group > .sp-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*
* Collapse border
*/

.sp-button-group > .sp-button:nth-child(n+2) {
  margin-left: -1px;
}
