@form-gutter:                                   1em;

@form-mini-width:                               64px;
@form-small-width:                              128px;
@form-medium-width:                             256px;
@form-large-width:                              512px;

/* ========================================================================
   Component: Form
 ========================================================================== */

.sp-form optgroup {
  /* Correct `font` properties not being inherited. */
  font: inherit;
  /* Don't inherit the `font-weight` and use `bold` instead. */
  font-weight: bold;
}

/*
 * Define consistent border, margin, and padding.
 */

.sp-form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}


/* Style
 ========================================================================== */

/*
 * Removes placeholder transparency in Firefox.
 */

.sp-form ::-moz-placeholder { opacity: 1; }

 /*
 * Removes `box-shadow` for invalid controls in Firefox.
 */

.sp-form :invalid { box-shadow: none; }

/*
 * Placeholder
 */

.sp-form :-ms-input-placeholder { opacity: 0.5 !important; }
.sp-form ::-moz-placeholder { opacity: 0.5; }
.sp-form ::-webkit-input-placeholder { opacity: 0.5; }

/*
 * Legend
 * 1. Behave like block element
 * 2. Correct `color` not being inherited in IE 8/9/10/11.
 * 3. Remove padding
 * 4. `margin-bottom` is not working in Safari and Opera.
 *    Using `padding` and :after instead to create the border
 * 5.
 */

.sp-form legend {
  /* 1 */
  width: 100%;
  /* 2 */
  border: 0;
  /* 3 */
  /* 4 */
  padding: 0 0 @form-gutter;
  /* Style */
  font-size: 18px;
  line-height: 30px;
}


/* Size modifiers
 * Higher specificity needed to override defaults
 ========================================================================== */

select.sp-form-small,
textarea.sp-form-small,
input[type].sp-form-small,
input:not([type]).sp-form-small {
  font-size: 14px;
}

select.sp-form-large,
textarea.sp-form-large,
input.sp-form-large  {
  font-size: 18px;
}


/* Reset height
 * Must be after size modifiers
 ========================================================================== */

.sp-form textarea,
.sp-form select[multiple],
.sp-form select[size] { height: auto; }


/* Validation states
 * Using !important to keep the selector simple
 ========================================================================== */

/*
 * Error state
 */

.sp-form-danger {
  border-color: @global-danger !important;
  color: @global-danger !important;
}

/*
 * Success state
 */

.sp-form-success  {
  border-color: @global-success !important;
  color: @global-success !important;
}


/* Size sub-modifiers
 ========================================================================== */

/*
 * Fixed widths
 * Different widths for mini sized `input` and `select` elements
 */

input.sp-form-width-mini { width: @form-mini-width; }
select.sp-form-width-mini { width: (@form-mini-width + 25px); }
.sp-form-width-small { width: @form-small-width; }
.sp-form-width-medium { width: @form-medium-width; }
.sp-form-width-large { width: @form-large-width; }


/* Sub-objects: `sp-form-row`
 * Groups labels and controls in rows
 ========================================================================== */

/*
 * Micro clearfix
 * Needed for `sp-form-horizontal` modifier
 */

.sp-form-row:before,
.sp-form-row:after {
  content: "";
  display: table;
}

.sp-form-row:after { clear: both; }

/*
 * Vertical gutter
 */

.sp-form-row + .sp-form-row { margin-top: @form-gutter; }

.sp-form-line .sp-form-row {
  padding: 0 @form-gutter @form-gutter;
}

/*
 * Line style
 */
.sp-form-line .sp-form-row:not(:last-child) {
  border-bottom: solid 1px @global-border;

  .dark & {
    border-color: @global-dark-border;
  }
}


/* Help text
 * Sub-object: `sp-form-help-inline`, `sp-form-help-block`
 ========================================================================== */

.sp-form-help-inline {
  display: inline-block;
  margin: 0 0 0 12px;
}

.sp-form-help-block { margin: 12px 0 0 0; }


/* Modifier: `sp-form-stacked`
 * Requires sub-object: `sp-form-label`
 ========================================================================== */

.sp-form-stacked .sp-form-label {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}


/* Modifier: `sp-form-horizontal`
 * Requires sub-objects: `sp-form-label`, `sp-form-controls`
 ========================================================================== */

.sp-form-horizontal > .sp-form-row {
  display: flex;
  align-items: center;
}

.sp-form-horizontal .sp-form-label {
  width: 200px;
}

@media (max-width: @breakpoint-mini-max) {

  .sp-form-horizontal > .sp-form-row {
    flex-direction: column;
  }

  .sp-form-horizontal .sp-form-controls {
    flex: 1;
  }

  /* Better vertical alignment if controls are checkboxes and radio buttons with text */
  .sp-form-horizontal .sp-form-controls-text { padding-top: 8px; }
}
