.sp-textarea {
  /* Remove default vertical scrollbar in IE 8/9/10/11. */
  overflow: auto;
  /* Improve readability and alignment in all browsers. */
  vertical-align: top;

  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
  vertical-align: middle;

  background: none;
  border: none;
  outline: none;
}
