//
// Breakpoints
//
@breakpoint-mini-max:                               320px;
@breakpoint-small-max:                              480px;
@breakpoint-medium-max:                             768px;
@breakpoint-large-max:                              960px;
@breakpoint-xlarge-max:                             1220px;

@breakpoint-mini-min:                           (@breakpoint-mini-max + 1);
@breakpoint-small-min:                          (@breakpoint-small-max + 1);
@breakpoint-medium-min:                         (@breakpoint-medium-max + 1);
@breakpoint-large-min:                          (@breakpoint-large-max + 1);
@breakpoint-xlarge-min:                         (@breakpoint-xlarge-max + 1);

// Global variables
// ========================================================================

//
// Text
//

@global-color:                                  #56585c;
@global-dark-color:                             #d3d4da;
@global-muted-color:                            #f9fafc;
@global-dark-muted-color:                       #1e212b;

@global-contrast-color:                         #fff;
@global-contrast-text-shadow:                   1px 1px rgba(0,0,0,0.15);

@global-font-size:                              16px;
@global-line-height:                            24px;

//
// Backgrounds & Borders
//

@global-background:                             #fff;
@global-dark-background:                        #16181f;
@global-border:                                 #e3e7f1;
@global-dark-border:                            #363d47;
@global-border-radius:                          8px;

@global-muted:                                  #18181a;
@global-dark-muted:                             #21242e;
@global-primary:                                #2f5bff;
@global-dark-primary:                           #5eaeff;
@global-success:                                #07afaf;
@global-dark-success:                           #2ec5c5;
@global-warning:                                #e04609;
@global-dark-warning:                           #e45e29;
@global-danger:                                 #c02e4e;
@global-dark-danger:                            #d4506d;
@global-heading-color:                          #111827;
@global-dark-heading-color:                     #f1f2ff;

//
// Shadow
//

@global-box-shadow:                             0 0 24px -6px rgba(0, 0, 0, 0.1), 0 12px 12px -6px rgba(0, 0, 0, 0.06);
@global-dark-box-shadow:                        0 0 24px -6px rgba(0, 0, 0, 0.6), 0 12px 12px -6px rgba(0, 0, 0, 0.36);

//
// Spacings
//

@global-margin-mini:                            4px;
@global-margin-small:                           8px;
@global-margin:                                 16px;
@global-margin-large:                           32px;
@global-padding-mini:                           8px;
@global-padding-small:                          16px;
@global-padding:                                24px;
@global-padding-large:                          32px;
@global-grid-gutter:                            24px;
@global-grid-gutter-large:                      32px;

//
// Z-index
//

@global-z-index:                                1000;
